:root {
  --accent-color: #A259FF;

	--body-bg: #2B2B2B;
	
	--color-text: #fff;

	--card-bg: #3b3b3b;

	--color-btn-text: var(--color-text);
	--padding-btn: 19px 50px;
	--btn-border-radius: 20px;

	--font-family: "Space Mono", sans-serif;
  --second-family: "Work Sans", sans-serif;

}